@import '~basscss/css/basscss.css';
.wp-pagelist {
  height: 100vhmax;
  background-image: url("./image/preview_image1.jpg");
  background-repeat: repeat;
  background-size: cover;  
}
.wrap {
  max-width: 2000px;
  margin: 0 auto;
}

.header {
  margin: 0 30px;
}

.avatar {
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.menu-user {
  width: 320px;
  height: 150px;
  background: #65b112;
  box-shadow: 0 10px 30px 0 rgba(27, 30, 35, .27);
  right: -30px;
  top: 10px;
  visibility: hidden;
  opacity: 0;
}

.logout-user {
  clear: both;
  padding-top: 16px;
}

.btn-logout {
  background: transparent;
  border: 1px solid transparent;
  color: rgb(252, 252, 229);
  transition: 0.5s;

}

.btn-logout:hover {
  transform: translateX(20px);
  display: inline-block;
}

.user__info:hover>.menu-user {
  visibility: visible;
  transform: translateY(-20px);
  transition: all .7s ease;
  opacity: 1;
}

.user-name {
  font-size: 16px;
  color: rgb(252, 252, 230);
}

.user-id {
  font-size: 12px;
  color: rgb(204, 208, 211);
}

.list-page {
  height: 150px;
  background-color: #fdfaf7;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 10px 30px 0 rgba(27, 30, 35, .27);
}

.page {
  height: 50px;
  border-bottom: 1px solid rgb(221, 218, 218);
  display: flex;
}

.page>.avatar {
  object-fit: cover;
}

.name-page {
  margin: 20px 0 0 20px;
  color: rgb(73, 70, 70);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
  padding-right: 15px;
}

.manage-page {
  clear: both;
}

.btn-delete {
  border: 1px solid transparent;
  width: 30px;
  height: 30px;
  background-color: rgb(237, 241, 245);
  border-radius: 5px;
  z-index: 100;
}

.btn-submit-page {
  border: 1px solid transparent;
  width: 140px;
  height: 30px;
  background-color: #4ca843;
  color: rgb(240, 246, 247);
  border-radius: 5px;
  z-index: 100;
  padding-top: 5px;
}

.btn-submit-page:hover {
  background-color: rgb(80, 131, 81);
}

.btn-delete:hover {
  background-color: #9ea09e;
}

.title {
  font-size: 20px;
  font-weight: 400;
  color: rgb(71, 69, 69);
}

.icon-delete {
  z-index: -1;
}

.input-search {
  background-color: rgba(113, 127, 165, 0.07);
  border-radius: 30px;
  padding: 8px 15px 8px 40px;
  display: block;
  width: 250px;
  outline: 0;
  border: none;
  box-shadow: none;
  background: #eee;
  z-index: 0;
  transition: ease-in-out, width .3s ease-in-out;
}

.icon-search {
  z-index: 1;
  top: 16px;
  left: 20px;
}

.wrap-page {
  padding: 32px;
}

.input-search:focus {
  width: 265px;
}

.load-more-button {
  margin: 55px auto 0;
  padding: 10px 20px;
  color: #4ca842;
  border: none;
  z-index: 20;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
  background: none;
}

.load-more-button:focus {
  outline: none;
}

.load-more-button:hover {
  text-decoration: underline;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.icon-finger {
  font-weight: 400;
  text-transform: none;
  line-height: 1;
  font-size: 150px;
  color: rgba(255, 255, 255, .1);
  top: 13px;
  right: -26px;
}

.loading-search {
  position: absolute;
  z-index: 1;
  top: 16px;
  left: 20px;
}

@media screen and (min-width: 832px) {
  .wp-pagelist {
    height: 100vh;
    background-image: url("./image/preview_image1.jpg");
    background-repeat: repeat;
    background-size: cover;  
  }

  .wrap-page {
    padding: 0
  }

  .btn-submit-page {
    width: 100px;
  }
}