@import '~basscss/css/basscss.css';

.login-container {
    background: linear-gradient(293deg, #19B4F2 0%, #43CE8B 100%);
    width: 100%;
    height: 100%
}

.login-bg-image{
    background-image: url(./image/bg-pattern.png);
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 100%
}

.login-wrap {
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 40px;
    background-color: aliceblue;
    border-radius: 6px;
}

.login-content > .text {
    line-height: 1.5;
    color: dimgray;
}

.login-content > .title{
    font-weight: 500;
    color: #334152;
    line-height: 1.2;
    margin-top: 16px;
    margin-bottom: 8px;
}

.login-thumbnail {
    width: 100px;
    height: 100px;
}