@import '~basscss/css/basscss.css';

body,
html {
  font-size: 14px
}

.bg-blue {
  background: #0f9c58;
}

.bg-white {
  background: #fff;
}

.header-chat {
  color: #fff;
  padding: 10px 0px;
  height: 70px;
  z-index:1000;
}

.icon-header {
  margin-right: 10px
}

.icon-header svg {
  font-size: 30px;
}

.sidebar-left {
  min-width: 300px;
  border-right: 1px solid #e0e0e0;
  height: calc(100vh - 75px);
  padding: 10px;
}

.sidebar-right {
  float: right;
  bottom: 0;
  right: 0;
  width: calc(100vw - 300px);
}

.item-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  float: left;
  margin-right: 10px;
}

.item {
  transition: 0.2s;
  padding: 12px 10px 0px 5px;
  height: 85px;
  cursor: pointer;
  clear: both;
  border-radius: 4px;
}

.item:not(:first-child) {
  border-top: 1px solid #f1f1f1
}

.item:hover {
  background: #efefef;
}

.active {
  background: #ccc;
}

.info-item {
  margin-top: 6px;
}

.icon-item svg {
  font-size: 61px;
  color: #fff;
}

.new-conver {
  margin-top: 21px;
  margin-left: 10px;
}

.content {
  background: #e4dfdf40;
}

.input-message {
  border: none;
  padding: 16px 90px 0px 10px;
  outline: none;
  width: 100%;
  resize: none;
  white-space: pre-wrap;
}

.post-message {
  width: 100%;
  outline: none;
  bottom: 0;
  border: 1px solid #ccc;
  box-shadow: 2px 0px 10px #ccc;
  right: 221px;
  right: 0;
}

.user-left {
  text-align: left;
  clear: right;
  border-radius: 10px;
  margin-left: 15px;
  cursor: pointer;
}

.content-mess {
  height: auto;
}

.content-mess-left {
  max-width: 450px;
  margin-bottom: 10px;
}

.user-right {
  text-align: right;
  clear: right;
  margin-right: 15px;
  margin-bottom: 10px;
}

.message {
  padding: 10px;
  border-radius: 10px;
  line-height: 22px;
}

.message-right {
  background: #e0e0e0;
}

.user-left .image-user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.conversation {
  bottom: 0;
  margin-bottom: 60px;
  width: 100%;
  max-height: calc(100vh - 132px);
  padding-top: 30px;
  max-width: calc(100vw - 300px);
  flex-direction: column-reverse;
}

.time {
  color: #fff;
  background: black;
  padding: 5px;
  border-radius: 5px;
  top: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  z-index: 1;
  white-space: nowrap;
}

.time-left {
  left: 100%;

}

.time-right {
  right: 102%;
}

.content-mess {
  cursor: text;
}

.content-mess:hover>.time {
  opacity: 1;
  visibility: visible;
}

.message-latest {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.message-latest,
.time-item {
  font-size: 14px;
  color: #6b6868;
}

.time::after {
  content: '';
  border-width: 5px;
  position: absolute;
  border-style: solid;
  top: 7px;
}

.time-right::after {
  border-color: transparent transparent transparent black;
  left: 100%;
}

.time-left::after {
  border-color: transparent black transparent transparent;
  left: -10px;
}

.btn-loadmore {
  padding: 5px 11px;
  color: #4ca842;
  background-color: #fff;
  z-index: 20;
  cursor: pointer;
  transition: 0.3s;
  margin: 10px auto;
  border: none;
}

.btn-loadmore:hover {
  text-decoration: underline;
}

.loading-user,
.loading-message {
  justify-content: center;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.loading-conversation{
  justify-content: center;
  align-items: center;
  height:100%;
}

.header-left {
  width: 300px;
  margin-top: 16px;
  padding-left: 15px;
}

.none-conver {
  color: #8c8a8a;
}

.content-mess-right {
  max-width: 450px;
}

.main-user:last-of-type {
  padding-top: 20px;
}

.btn-post-message {
  right: 0;
  height: 100%;
  border: none;
  outline: none;
  padding: 0px 31px;
  cursor: pointer;
  background: #0f9c58;
}

.active {
  background: #e0e0e0;
}

.message {
  white-space: pre-wrap;
}

.input-message::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.input-message::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}

.input-message::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}
.load {
  text-align: center;
}

.conversation::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.conversation::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}

.conversation::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.sidebar-left::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-left::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}

.sidebar-left::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.image-user-header {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.name-user {
  margin-top: 16px;
}

.btn-send {
  right: 7px;
  padding: 5px 22px 15px;
  font-size: 29px;
  cursor: pointer;
  border: none;
  outline: none;
  opacity: 1;
  background: #fff;
  color: #ccc;
  transition: 0.3s;
}

.btn-back {
  border-radius: 50%;
  padding: 4px;
  border: 1px solid #fff;
  cursor: pointer;
  margin-right: 10px;
  color: #fff;
  transition: 0.2s;
}

.btn-back:hover {
  color: #0f9b58;
  background: #fff;
}

.active-send {
  color: #0f9b58;
}

.sidebar-user {
  min-width: 250px;
  border-left: 1px solid #e0e0e0;
  padding: 20px 10px;
  background: #fff;
}
.icon-download {
  font-size: 24px;
  margin-bottom: 5px;
  color: black;
}
.sticker {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.about {
  color: #757575;
    margin: 15px 0px 10px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}
.email-user {
  font-size: 12px;
  margin-left: 8px;
  color: #8e8b8b;
}
.icon-info {
  color: #0f9b58;
}
.gif {
  width: 200px;
  height: 200px;
  object-fit: cover;
}